Repository betagouv/metiers-numeriques: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --fix

chore(web): add next-auth to replace custom nexauth lib
  app/molecules/AdminMenu.tsx
  app/organisms/Header/index.tsx
  package.json
  pages/_app.tsx
  pages/api/auth/[...nexauth].ts
  pages/api/auth/[...nextauth].ts
  pages/api/auth/signup.ts
  pages/inscription.tsx
  prisma/migrations/20220727095249_add_next_auth/migration.sql
  prisma/migrations/20220727121333_add_user_email_verified/migration.sql
  prisma/migrations/20220727124015_update_default_role_candidate/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint --quiet --fix

chore(auth): add next-auth middleware
  app/atoms/TextInput.tsx
  app/hocs/AdminWrapper.tsx
  app/molecules/AdminMenu.tsx
  middleware.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --quiet --fix

feat(auth): admin request access flow
  api/resolvers/users.ts
  app/atoms/TextInput.tsx
  app/hocs/AdminWrapper.tsx
  app/queries/recruiter.ts
  pages/api/auth/[...nextauth].ts
  pages/api/auth/request-access.ts
  pages/demande-de-compte.tsx
  pages/inscription.tsx
Due: eslint --quiet --fix

feat(auth): handle sign in errors
  pages/connexion.tsx
Due: eslint --quiet --fix

feat(auth): post-signup flow
  app/organisms/Profile/CheckOffers.tsx
  app/organisms/Profile/CredentialsForm.tsx
  app/organisms/Profile/ProfileForm.tsx
  pages/api/auth/profile.ts
  pages/inscription.tsx
  pages/profil.tsx
Due: eslint --quiet --fix

fix: minor fixes
  app/organisms/Profile/CheckOffers.tsx
  app/organisms/Profile/PreferencesForm.tsx
  app/organisms/Profile/ProfileForm.tsx
Due: eslint --quiet --fix

fix(Form): fix XXXSelect components behavior
  app/molecules/Form/DomainSelect.tsx
  app/molecules/Form/InstitutionSelect.tsx
  app/molecules/Form/ProfessionSelect.tsx
  app/molecules/Form/index.tsx
  app/organisms/Profile/PreferencesForm.tsx
  app/organisms/Profile/ProfileForm.tsx
  pages/api/graphql.ts
  pages/profil.tsx
Due: eslint --quiet --fix

feat(admin): remove candidates willing to hide their profile for a recruiter's institution
  pages/api/applications/index.ts
  pages/api/auth/[...nextauth].ts
Due: eslint --quiet --fix

feat(auth): password security
  package.json
  pages/inscription.tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix: checks
  app/molecules/AdminForm/ProfessionSelect.tsx
  app/molecules/AdminMenu.tsx
  app/molecules/Form/ProfessionSelect.tsx
  app/organisms/Footer/index.tsx
  app/organisms/Profile/ActionBar.tsx
  app/organisms/Profile/CheckOffers.tsx
  middleware.ts
  pages/admin/job/[id]/index.tsx
  pages/admin/jobs.tsx
  pages/api/applications/index.ts
  pages/api/auth/[...nextauth].ts
  pages/api/auth/profile.ts
  pages/api/auth/request-access.ts
  pages/api/graphql.ts
  pages/api/pep/check.ts
  pages/connexion.tsx
  pages/demande-de-compte.tsx
  pages/inscription.tsx
  pages/profil.tsx
  types/environment.d.ts
  types/next-auth.d.ts
Due: eslint --quiet --fix

clean: remove comments & stale code
  app/hocs/WithGraphql.tsx
  app/organisms/Header/index.tsx
  app/workers/alert.ts
  app/workers/statistics.ts
  package.json
  pages/admin/index.tsx
  pages/connexion.tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix: e2e fixes
  e2e/201-signup.spec.ts
  e2e/202-login.spec.ts
  e2e/203-logout.spec.ts
  e2e/constants.ts
  pages/connexion.tsx
  pages/demande-de-compte.tsx
Due: eslint --quiet --fix

try to load example env vars for e2e tests
  .env.example
  .github/workflows/check.yml
Due: none

fix: github workflow
  .github/workflows/check.yml
Due: none

fix: handle admin access server side via middleware
  app/hocs/AdminWrapper.tsx
  e2e/202-login.spec.ts
  e2e/502-recruiter-role.spec.ts
  e2e/constants.ts
  middleware.ts
Due: eslint --quiet --fix

feat: add user menu
  app/organisms/Header/Toolbar.tsx
  app/organisms/Header/index.tsx
  app/theme.ts
Due: eslint --quiet --fix

fix: employers links
  app/organisms/Header/Toolbar.tsx
Due: eslint --quiet --fix

feat: ad-hoc application form
  app/atoms/TextInput.tsx
  app/molecules/AdminForm/Textarea.tsx
  app/molecules/Form/FileUpload.tsx
  app/molecules/Form/TextInput.tsx
  app/molecules/Form/index.tsx
  app/organisms/Header/Toolbar.tsx
  app/organisms/Profile/CheckOffers.tsx
  pages/api/applications/index.ts
  pages/api/graphql.ts
  pages/candidature/[[...jobId]].tsx
Due: eslint --quiet --fix

feat: add adhoc application in menu
  app/organisms/Header/Toolbar.tsx
  app/organisms/Header/index.tsx
Due: eslint --quiet --fix

feat: apply to a given offer
  app/molecules/Form/FileUpload.tsx
  pages/api/applications/index.ts
  pages/api/auth/profile.ts
  pages/candidature/[[...jobId]].tsx
  pages/emploi/[slug].tsx
Due: eslint --quiet --fix

feat: adhoc application on job offers
  pages/candidature/[[...jobId]].tsx
  pages/emploi/[slug].tsx
Due: eslint --quiet --fix

feat: only accept pdf
  app/molecules/Form/FileUpload.tsx
Due: eslint --quiet --fix

feat: new header + ad-hoc application form (#561)
  app/atoms/TextInput.tsx
  app/molecules/AdminForm/Textarea.tsx
  app/molecules/Form/FileUpload.tsx
  app/molecules/Form/TextInput.tsx
  app/molecules/Form/index.tsx
  app/organisms/Header/Toolbar.tsx
  app/organisms/Header/index.tsx
  app/organisms/Profile/CheckOffers.tsx
  app/theme.ts
  pages/api/applications/index.ts
  pages/api/auth/profile.ts
  pages/api/graphql.ts
  pages/candidature/[[...jobId]].tsx
  pages/emploi/[slug].tsx
Due: eslint --quiet --fix

refactor: refactor user menu
  app/organisms/Header/LinkItem.tsx
  app/organisms/Header/Toolbar.tsx
  app/organisms/Header/UserMenu.tsx
Due: eslint --quiet --fix

feat: candidate applications list
  app/atoms/Message.tsx
  app/organisms/Header/UserMenu.tsx
  app/organisms/Header/index.tsx
  app/organisms/Profile/ProfileLayout.tsx
  middleware.ts
  pages/candidature/[[...jobId]].tsx
  pages/espace-candidat.tsx
  pages/profil.tsx
Due: eslint --quiet --fix

refactor: better state handling
  app/organisms/CandidatePool/ApplicationActions.tsx
  pages/espace-candidat.tsx
Due: eslint --quiet --fix

refactor: extract ApplicationCard from page file
  app/organisms/JobApplicationCard.tsx
  pages/espace-candidat.tsx
Due: eslint --quiet --fix

fix: do not show both filled & rejection
  app/organisms/JobApplicationCard.tsx
Due: eslint --quiet --fix

fix: add route protection for account request
  middleware.ts
Due: eslint --quiet --fix

feat: Candidate applications page (#562)
  app/atoms/Message.tsx
  app/organisms/CandidatePool/ApplicationActions.tsx
  app/organisms/Header/LinkItem.tsx
  app/organisms/Header/Toolbar.tsx
  app/organisms/Header/UserMenu.tsx
  app/organisms/Header/index.tsx
  app/organisms/JobApplicationCard.tsx
  app/organisms/Profile/ProfileLayout.tsx
  middleware.ts
  pages/candidature/[[...jobId]].tsx
  pages/espace-candidat.tsx
  pages/profil.tsx
Due: eslint --quiet --fix

fix: sign out was cancelled because of page redirection
  app/organisms/Header/UserMenu.tsx
Due: eslint --quiet --fix

fix: sign out was cancelled because of page redirection (#563)
  app/organisms/Header/UserMenu.tsx
Due: eslint --quiet --fix

fix: better logout button style
  app/organisms/Header/LinkItem.tsx
  app/organisms/Header/UserMenu.tsx
Due: eslint --quiet --fix

feat(email): send an email when a recruiter account has been requested
  api/libs/sendInBlue.ts
  package.json
  pages/api/auth/request-access.ts
  yarn.lock
Due: prettier --write, eslint --quiet --fix

feat(email): send an email when a recruiter account has been requested (#564)
  api/libs/sendInBlue.ts
  package.json
  pages/api/auth/request-access.ts
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix: push error message when redirected to login page
  pages/connexion.tsx
Due: eslint --quiet --fix

fix: job card is globally clickable
  app/organisms/JobCard.tsx
Due: eslint --quiet --fix

fix: check format of linkedin url
  app/organisms/Profile/ProfileForm.tsx
Due: eslint --quiet --fix

fix: candidate flow fixes (#566)
  app/organisms/Header/LinkItem.tsx
  app/organisms/Header/UserMenu.tsx
  app/organisms/JobCard.tsx
  app/organisms/Profile/ProfileForm.tsx
  pages/connexion.tsx
Due: eslint --quiet --fix

Path conditions:
  prettier --write: any of: *.{html,json,md,mdx,scss,yaml}
  eslint --quiet --fix: any of: *.{cjs,js,ts,tsx}
