Repository betagouv/metiers-numeriques: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --fix

build(npm): replace setup script by dev:setup one (#532)
  CONTRIBUTING.md
  package.json
  scripts/dev/setup.sh
Due: prettier --write

fix(admin): change key in admin form editor on default value update
  app/molecules/AdminForm/Editor.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --quiet --fix

ci(github): fix dev setup script name
  .github/workflows/check.yml
Due: none

fix(admin): change key in admin form editor on default value update (#533)
  .github/workflows/check.yml
  app/molecules/AdminForm/Editor.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --quiet --fix

feat(web): add testimonies dailymotion link on home page
  app/atoms/Button.tsx
  app/organisms/TestimonialBar.tsx
Due: eslint --quiet --fix

feat(web): add testimonies dailymotion link on home page (#536)
  app/atoms/Button.tsx
  app/organisms/TestimonialBar.tsx
Due: eslint --quiet --fix

feat(admin): auto save on blur field instead of using a timeout
  app/molecules/AdminForm/AddressSelect.tsx
  app/molecules/AdminForm/AutoSave.tsx
  app/molecules/AdminForm/ContactSelect.tsx
  app/molecules/AdminForm/DomainSelect.tsx
  app/molecules/AdminForm/Editor.tsx
  app/molecules/AdminForm/ProfessionSelect.tsx
  app/molecules/AdminForm/RecruiterSelect.tsx
  app/molecules/AdminForm/Select.tsx
  app/molecules/AdminForm/TextInput.tsx
  pages/admin/job/[id]/index.tsx
Due: eslint --quiet --fix

feat(admin): auto save on blur field instead of using a timeout (#537)
  app/molecules/AdminForm/AddressSelect.tsx
  app/molecules/AdminForm/AutoSave.tsx
  app/molecules/AdminForm/ContactSelect.tsx
  app/molecules/AdminForm/DomainSelect.tsx
  app/molecules/AdminForm/Editor.tsx
  app/molecules/AdminForm/ProfessionSelect.tsx
  app/molecules/AdminForm/RecruiterSelect.tsx
  app/molecules/AdminForm/Select.tsx
  app/molecules/AdminForm/TextInput.tsx
  pages/admin/job/[id]/index.tsx
Due: eslint --quiet --fix

fix(admin): fix MarkdownEditor behavior
  app/molecules/AdminForm/Editor.tsx
  app/organisms/InstitutionHeader.tsx
  app/organisms/JobFilterBar/index.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix(admin): fix MarkdownEditor behavior (#538)
  app/molecules/AdminForm/Editor.tsx
  app/organisms/InstitutionHeader.tsx
  app/organisms/JobFilterBar/index.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix(web): refine UI on Institution cards
  app/organisms/InstitutionCard.tsx
  public/images/logo-republique.svg
Due: eslint --quiet --fix

fix(web): test on address nullity to avoid missing key access
  app/libs/structuredData/normalizePlace.ts
  app/molecules/AdminForm/AddressSelect.tsx
  pages/emploi/[slug].tsx
Due: eslint --quiet --fix

fix(web): refine UI on Institution cards (#541)
  app/organisms/InstitutionCard.tsx
  public/images/logo-republique.svg
Due: eslint --quiet --fix

fix(web): test on address nullity to avoid missing key access (#542)
  app/libs/structuredData/normalizePlace.ts
  app/molecules/AdminForm/AddressSelect.tsx
  pages/emploi/[slug].tsx
Due: eslint --quiet --fix

fix(build): fix build on missing address on Institution
  app/organisms/JobCard.tsx
Due: eslint --quiet --fix

fix(web): filter institution jobs that are published
  pages/institutions/[slug].tsx
Due: eslint --quiet --fix

temp
  app/molecules/AdminForm/Editor.tsx
Due: eslint --quiet --fix

fix(build): fix build on missing address on Institution (#543)
  app/molecules/AdminForm/Editor.tsx
  app/organisms/JobCard.tsx
  pages/institutions/[slug].tsx
Due: eslint --quiet --fix

Revert "fix(build): fix build on missing address on Institution (#543)"
  app/molecules/AdminForm/Editor.tsx
  app/organisms/JobCard.tsx
  pages/institutions/[slug].tsx
Due: eslint --quiet --fix

Revert "fix(build): fix build on missing address on Institution (#543)" (#544)
  app/molecules/AdminForm/Editor.tsx
  app/organisms/JobCard.tsx
  pages/institutions/[slug].tsx
Due: eslint --quiet --fix

another attempt
  app/molecules/AdminForm/Editor.tsx
Due: eslint --quiet --fix

feat: switch broken markdown editor to a wysiwyg
  app/molecules/AdminForm/Editor.tsx
  app/organisms/JobCard.tsx
  package.json
  pages/institutions/[slug].tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix build
  app/molecules/AdminForm/Editor.tsx
Due: eslint --quiet --fix

feat: switch broken markdown editor to a wysiwyg (#547)
  app/molecules/AdminForm/Editor.tsx
  app/organisms/JobCard.tsx
  package.json
  pages/institutions/[slug].tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

feat(admin): allow recruiters to edit their own institution
  app/molecules/AdminMenu.tsx
  pages/admin/institution/[id].tsx
Due: eslint --quiet --fix

fix tests
  app/molecules/AdminToaster.tsx
  pages/admin/institution/[id].tsx
Due: eslint --quiet --fix

feat(admin): allow recruiters to edit their own institution (#548)
  app/molecules/AdminMenu.tsx
  app/molecules/AdminToaster.tsx
  pages/admin/institution/[id].tsx
Due: eslint --quiet --fix

feat(web): add institutions list page
  app/atoms/TextInput.tsx
  app/organisms/InstitutionsList.tsx
  app/organisms/TopInstitutionsBar.tsx
  pages/index.tsx
  pages/institutions/index.tsx
Due: eslint --quiet --fix

feat(web): add institutions list page (#550)
  app/atoms/TextInput.tsx
  app/organisms/InstitutionsList.tsx
  app/organisms/TopInstitutionsBar.tsx
  pages/index.tsx
  pages/institutions/index.tsx
Due: eslint --quiet --fix

fix: institutions 404
  app/organisms/Header/Toolbar.tsx
  pages/institutions/index.tsx
Due: eslint --quiet --fix

change copy
  pages/index.tsx
  pages/institutions/index.tsx
Due: eslint --quiet --fix

fix(web): handle HTML in source renderer
  app/helpers/__tests__/__snapshots__/renderMarkdown.test.tsx.snap
  app/helpers/__tests__/__snapshots__/renderMarkdownOrHtml.test.tsx.snap
  app/helpers/__tests__/renderMarkdown.test.tsx
  app/helpers/__tests__/renderMarkdownOrHtml.test.tsx
  app/helpers/renderMarkdownOrHtml.ts
  package.json
  pages/emploi/[slug].tsx
  pages/emploi/archive/[slug].tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix(web): handle HTML in source renderer (#554)
  app/helpers/__tests__/__snapshots__/renderMarkdown.test.tsx.snap
  app/helpers/__tests__/__snapshots__/renderMarkdownOrHtml.test.tsx.snap
  app/helpers/__tests__/renderMarkdown.test.tsx
  app/helpers/__tests__/renderMarkdownOrHtml.test.tsx
  app/helpers/renderMarkdownOrHtml.ts
  package.json
  pages/emploi/[slug].tsx
  pages/emploi/archive/[slug].tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

refactor: rename route institutions to employeurs
  app/organisms/InstitutionCard.tsx
  pages/employeurs/[slug].tsx
  pages/employeurs/index.tsx
  pages/index.tsx
Due: eslint --quiet --fix

copy: Institutions page becomes Employeurs (#557)
  app/organisms/Header/Toolbar.tsx
  app/organisms/InstitutionCard.tsx
  pages/employeurs/[slug].tsx
  pages/employeurs/index.tsx
  pages/index.tsx
Due: eslint --quiet --fix

feat(auth): signup form
  app/atoms/Radio.tsx
  app/organisms/Profile/ActionBar.tsx
  app/organisms/Profile/CredentialsForm.tsx
  app/organisms/Profile/PreferencesForm.tsx
  app/organisms/Profile/ProfileForm.tsx
  pages/api/auth/signup.ts
  pages/connexion.tsx
  pages/inscription.tsx
  pages/profil.tsx
Due: eslint --quiet --fix

feat(web): full candidate flow
  app/atoms/Select.tsx
  app/molecules/Form/DomainSelect.tsx
  app/molecules/Form/InstitutionSelect.tsx
  app/molecules/Form/Select.tsx
  app/molecules/Form/index.tsx
  app/organisms/Subscription/PreferencesForm.tsx
  app/organisms/Subscription/ProfileForm.tsx
  pages/admin/institutions.tsx
  pages/api/graphql.ts
  pages/inscription.tsx
Due: eslint --quiet --fix

refactor(web): split forms into separate components
  app/organisms/Subscription/ActionBar.tsx
  app/organisms/Subscription/CredentialsForm.tsx
  app/organisms/Subscription/PreferencesForm.tsx
  app/organisms/Subscription/ProfileForm.tsx
  pages/inscription.tsx
Due: eslint --quiet --fix

feat(auth): replace nexauth by next-auth
  app/atoms/Button.tsx
  app/hocs/AdminWrapper.tsx
  app/hocs/WithGraphql.tsx
  app/molecules/AdminMenu.tsx
  app/workers/alert.ts
  app/workers/statistics.ts
  pages/_app.tsx
  pages/admin/index.tsx
  pages/admin/job/[id]/index.tsx
  pages/admin/jobs.tsx
  pages/api/auth/[...nextauth].ts
  pages/api/graphql.ts
  pages/api/pep/check.ts
  pages/connexion.tsx
  public/images/hi-bot.svg
Due: eslint --quiet --fix

Path conditions:
  prettier --write: any of: *.{html,json,md,mdx,scss,yaml}
  eslint --quiet --fix: any of: *.{cjs,js,ts,tsx}
