Repository betagouv/metiers-numeriques: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --fix

chore: move one-time scripts to a migration folder
  .eslintrc
  package.json
  scripts/data-migration/.gitignore
  scripts/data-migration/README.md
  scripts/data-migration/data.json
  scripts/data-migration/extract-demarches-simplifiees-data.js
  scripts/data-migration/import-candidate-data.js
  scripts/dev/.gitignore
  yarn.lock
Due: prettier --write, eslint --quiet --fix

feat(scripts): add markdown to html converter script for jobs & institutions
  package.json
  scripts/data-migration/.gitignore
  scripts/data-migration/data.json
  scripts/data-migration/markdown-to-html.js
  yarn.lock
Due: prettier --write, eslint --quiet --fix

feat: add script to convert rich texts from markdown to HTML (#567)
  .eslintrc
  package.json
  scripts/data-migration/.gitignore
  scripts/data-migration/README.md
  scripts/data-migration/extract-demarches-simplifiees-data.js
  scripts/data-migration/import-candidate-data.js
  scripts/data-migration/markdown-to-html.js
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix: handle seed script deletes to avoid fkey constraints
  scripts/dev/seed.js
Due: eslint --quiet --fix

fix: handle seed script deletes to avoid fkey constraints (#568)
  scripts/dev/seed.js
Due: eslint --quiet --fix

fix: job card width when aligned in a row
  app/organisms/JobCard.tsx
Due: eslint --quiet --fix

fix: job card width when aligned in a row (#569)
  app/organisms/JobCard.tsx
Due: eslint --quiet --fix

fix: better seed scripts
  api/helpers/buildPrismaPaginationFilter.ts
  pages/api/domains/index.ts
  scripts/dev/seed.js
Due: eslint --quiet --fix

feat: multiple rejection reasons for a job application
  app/atoms/Checkbox.tsx
  app/organisms/CandidatePool/ApplicationActions.tsx
  app/organisms/CandidatePool/hooks.ts
  app/organisms/JobApplicationCard.tsx
  pages/api/applications/[applicationId]/reject.ts
  prisma/migrations/20220818161637_add_multi_rejection_reasons/migration.sql
  prisma/schema.prisma
  scripts/dev/seed.js
Due: eslint --quiet --fix

feat: send rejection email
  api/libs/sendInBlue.ts
  pages/api/applications/[applicationId]/reject.ts
Due: eslint --quiet --fix

fix: better handling of rejection reasons
  app/organisms/JobApplicationCard.tsx
  pages/api/applications/[applicationId]/accept.ts
Due: eslint --quiet --fix

fix tests
  api/helpers/__tests__/buildPrismaPaginationFilter.test.ts
Due: eslint --quiet --fix

fix(JobCard): strip html tags from job cards description
  app/organisms/JobCard.tsx
  pages/employeurs/[slug].tsx
Due: eslint --quiet --fix

feat: multiple rejection reasons for a job application (#570)
  api/helpers/__tests__/buildPrismaPaginationFilter.test.ts
  api/helpers/buildPrismaPaginationFilter.ts
  api/libs/sendInBlue.ts
  app/atoms/Checkbox.tsx
  app/organisms/CandidatePool/ApplicationActions.tsx
  app/organisms/CandidatePool/hooks.ts
  app/organisms/JobApplicationCard.tsx
  pages/api/applications/[applicationId]/accept.ts
  pages/api/applications/[applicationId]/reject.ts
  pages/api/domains/index.ts
  prisma/migrations/20220818161637_add_multi_rejection_reasons/migration.sql
  prisma/schema.prisma
  scripts/dev/seed.js
Due: eslint --quiet --fix

fix(JobCard): strip html tags from job cards description (#572)
  app/organisms/JobCard.tsx
  pages/employeurs/[slug].tsx
Due: eslint --quiet --fix

fix: copy fixes
  app/organisms/Footer/index.tsx
  app/organisms/Header/Brand.tsx
  app/organisms/JobApplicationModal.tsx
  app/organisms/NewsletterBar.tsx
  pages/index.tsx
  pages/inscription.tsx
Due: eslint --quiet --fix

fix: fix rejection email subject
  api/libs/sendInBlue.ts
Due: eslint --quiet --fix

fix: copy fixes (#573)
  api/libs/sendInBlue.ts
  app/organisms/Footer/index.tsx
  app/organisms/Header/Brand.tsx
  app/organisms/JobApplicationModal.tsx
  app/organisms/NewsletterBar.tsx
  pages/index.tsx
  pages/inscription.tsx
Due: eslint --quiet --fix

feat: forgot password
  api/libs/sendInBlue.ts
  package.json
  pages/api/auth/forgot-password.ts
  pages/api/auth/reset-password.ts
  pages/api/auth/signup.ts
  pages/connexion.tsx
  pages/mot-de-passe.tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

fix: build fix
  api/libs/sendInBlue.ts
Due: eslint --quiet --fix

update yarn.lock
  package.json
  yarn.lock
Due: prettier --write

feat: forgot password (#574)
  api/libs/sendInBlue.ts
  package.json
  pages/api/auth/forgot-password.ts
  pages/api/auth/reset-password.ts
  pages/api/auth/signup.ts
  pages/connexion.tsx
  pages/mot-de-passe.tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

refactor: remove custom nexauth in favor of stable next-auth
  package.json
  yarn.lock
Due: prettier --write

chore: remove everything linked to nexauth
  app/organisms/SignInDialog.tsx
  config/playwright.setup.ts
  pages/admin/institution/[id].tsx
  prisma/schema.prisma
  scripts/dev/seed.js
  scripts/dev/setup.sh
Due: eslint --quiet --fix

refactor: remove custom nexauth in favor of stable next-auth (#576)
  app/organisms/SignInDialog.tsx
  config/playwright.setup.ts
  package.json
  pages/admin/institution/[id].tsx
  prisma/schema.prisma
  scripts/dev/seed.js
  scripts/dev/setup.sh
  yarn.lock
Due: prettier --write, eslint --quiet --fix

chore: remove unused table
  prisma/migrations/20220822130346_remove_unused_auth_tables/migration.sql
Due: none

chore: remove markdown rendering since it's not used anymore
  app/helpers/__tests__/__snapshots__/renderHTML.test.tsx.snap
  app/helpers/__tests__/renderHTML.test.tsx
  app/helpers/renderHTML.ts
  app/helpers/renderMarkdownOrHtml.ts
  package.json
  pages/emploi/[slug].tsx
  pages/emploi/archive/[slug].tsx
  pages/employeurs/[slug].tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

chore: remove unused table (#577)
  prisma/migrations/20220822130346_remove_unused_auth_tables/migration.sql
Due: none

chore: remove markdown rendering since it's not used anymore (#578)
  app/helpers/__tests__/__snapshots__/renderHTML.test.tsx.snap
  app/helpers/__tests__/renderHTML.test.tsx
  app/helpers/renderHTML.ts
  app/helpers/renderMarkdownOrHtml.ts
  package.json
  pages/emploi/[slug].tsx
  pages/emploi/archive/[slug].tsx
  pages/employeurs/[slug].tsx
  yarn.lock
Due: prettier --write, eslint --quiet --fix

feat(email): send an email when a candidate applies
  api/libs/sendInBlue.ts
  pages/api/applications/index.ts
Due: eslint --quiet --fix

add tests
  app/libs/__tests__/candidate.test.ts
Due: eslint --quiet --fix

fix: fix rejection email recipient
  api/libs/sendInBlue.ts
Due: eslint --quiet --fix

fix typescript merge conflict
  app/libs/__tests__/candidate.test.ts
Due: eslint --quiet --fix

feat(email): join application in email
  api/libs/sendInBlue.ts
  app/libs/candidate.ts
  app/organisms/CandidatePool/ApplicationActions.tsx
  app/organisms/CandidatePool/ApplicationHeader.tsx
  app/organisms/CandidatePool/CandidateInfos.tsx
  app/organisms/CandidatePool/CandidateTouchPoints.tsx
  app/organisms/CandidatePool/CandidatesList.tsx
  app/organisms/CandidatePool/VivierActions.tsx
  app/organisms/CandidatePool/hooks.ts
  app/organisms/CandidatePool/types.ts
  app/organisms/CandidatePool/utils.ts
  pages/api/applications/index.ts
Due: eslint --quiet --fix

feat(email): send an email when a candidate applies (#565)
  api/libs/sendInBlue.ts
  app/libs/__tests__/candidate.test.ts
  app/libs/candidate.ts
  app/organisms/CandidatePool/ApplicationActions.tsx
  app/organisms/CandidatePool/ApplicationHeader.tsx
  app/organisms/CandidatePool/CandidateInfos.tsx
  app/organisms/CandidatePool/CandidateTouchPoints.tsx
  app/organisms/CandidatePool/CandidatesList.tsx
  app/organisms/CandidatePool/VivierActions.tsx
  app/organisms/CandidatePool/hooks.ts
  app/organisms/CandidatePool/types.ts
  app/organisms/CandidatePool/utils.ts
  pages/api/applications/index.ts
Due: eslint --quiet --fix

feat: send an email when a recruiter account has been activated
  api/libs/sendInBlue.ts
  api/resolvers/users.ts
Due: eslint --quiet --fix

fix: reduce font size on rich text blocks
  app/helpers/__tests__/__snapshots__/renderHTML.test.tsx.snap
  app/helpers/renderHTML.tsx
  pages/emploi/[slug].tsx
  pages/employeurs/[slug].tsx
Due: eslint --quiet --fix

chore: add comment on vivier pagination
  pages/api/applications/index.ts
Due: eslint --quiet --fix

update subject
  api/libs/sendInBlue.ts
Due: eslint --quiet --fix

feat: send an email when a recruiter account has been activated (#584)
  api/libs/sendInBlue.ts
  api/resolvers/users.ts
Due: eslint --quiet --fix

Path conditions:
  prettier --write: any of: *.{html,json,md,mdx,scss,yaml}
  eslint --quiet --fix: any of: *.{cjs,js,ts,tsx}
